<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Portale Silh</title>
    <link rel="stylesheet" href="/css/fotografiCss.css" />
</head>
<body>
<div>
    <h4>Fotografi</h4>

    <ol>
        <li th:each="fotografo : ${fotografi}">

            <a
                    th:href="@{'/fotografo' + '/' + ${fotografo.id}}"
                    th:text="${fotografo.nome} + ' ' + ${fotografo.cognome}"> paolo merialdo</a>
        </li>
    </ol>
</div>
<h5><a href="/admin/welcome">Torna alla home</a></h5>
</body>
</html>