<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Fotografie</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div><h4>Fotografie</h4></div>
<div th:each="fotoPath : ${fotografie_paths}">
    <img class="gallery_image" th:src="@{${fotoPath}}">

    <form style="float: left; padding-top: 40px; padding-left: 60px;"
          th:action="@{/utente/shoppingCart/aggiungiAlCarrelloDalleFotografie}">
        <input style="display: none;" type="text" th:value="${fotoPath}" name="fotoPath">
        <button type="submit">
            Aggiungi immagine
        </button>
    </form>
</div>
</body>
</html>