<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Inserimento Nuova Fotografia</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div>
<h4>Seleziona la foto per salvarla nel db</h4>
</div>
<div>
<h4>Completa la form</h4>
</div>
<form th:action="@{/admin/upload}" enctype="multipart/form-data" th:object="${fotografia}" method="post">
    Nome: <input type="text" th:field="*{nome}" required>
    <br/>
    <input type="file" name="image_file" accept=".jpg, .jpeg" required>
    <br/>
    <br/>
    <button type="submit">Carica</button>
</form>
</body>
</html>