<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Fotografia</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div><h4>Fotografia trovata!</h4></div>
<div th:text="'Nome: '+${fotografia.nome}">foto_nome</div>
<div>
    Fotografo: <a th:href="@{'/fotografo/'+${fotografia.fotografo.id}}" th:text="${fotografia.fotografo.nome}">foto_fotografo</a>
</div>
<div>
    Album: <a th:href="@{'/album/'+${fotografia.album.id}}" th:text="${fotografia.album.nome}">foto_album</a>
</div>
<br/>

<img th:src="@{${fotoPath}}" class="single_image">
<form style="float: left; padding-top: 40px; padding-left: 60px;"
      th:action="@{/utente/shoppingCart/aggiungiAlCarrelloDalleFotografie}">
    <input style="display: none;" type="text" th:value="${fotoPath}" name="fotoPath">
    <button type="submit">
        Aggiungi immagine
    </button>
</form>
</body>
</html>
