<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Inserimento Nuova Fotografia</title>
</head>
<body>
<h3>Seleziona la foto per salvarla nel db</h3>
<h4>BISOGNA COMPLETARE LA FORM</h4>
<form th:action="@{/upload}" enctype="multipart/form-data" th:object="${fotografia}" method="post">
    Nome: <input type="text" th:field="*{nome}" required>
    <br/>
    <input type="file" name="image_file" accept=".jpg, .jpeg" required>
    <br/>
    <br/>
    <button type="submit">UPLOAD</button>
</form>
</body>
</html>