<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Fotografia</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div><h3 class="ok_message">Fotografia trovata!</h3></div>
<div th:text="'Nome: '+${fotografia.nome}">foto_nome</div>
<div>
    Fotografo: <a th:href="@{'/fotografo/'+${fotografia.fotografo.id}}" th:text="${fotografia.fotografo.nome}">foto_fotografo</a>
</div>
<div>
    Album: <a th:href="@{'/album/'+${fotografia.album.id}}" th:text="${fotografia.album.nome}">foto_album</a>
</div>
<br/>

<img th:src="@{${fotoPath}}" class="single_image">
</body>
</html>
