body {
    background-image: url("../images/sfondoblu.jpg");
}

h4{
    color: whitesmoke;
    font-size: x-large;
}
h5{
    color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 40px;
}