body {
    background-image: url("../images/sfondoblu.jpg");
}
td{
    color: whitesmoke;
    font-size: large;
}

h4 {
    color: whitesmoke;
    font-size: xx-large;
}

a {
    color: whitesmoke;
    font-size: large;
}

a:hover {
    color: black;
    font-size:large;
}

span {
    color: whitesmoke;
    font-size: xx-large;

}

i {
    color: whitesmoke;
    font-size: xx-large;
}



.invalid_message {
    font-family: cursive;
    color: red;
    font-size: small;
    font-style: italic;
}

.ok_message {
    font-family: cursive;
    color: whitesmoke;
    font-style: bold, italic;
}

.notFound_message {
    font-family: cursive;
    color: whitesmoke;
    font-style: italic;
}

.notFound_suggest {
    font-family: cursive;
    color: whitesmoke;
    font-style: italic;
}


.single_image {
    width: 40%;
    height: 40%;
    padding-left: 200px;
}
.galleria_immagine {
    display: flex;
    flex-direction: column;
    columns: 3;
    width:80%;
    height:80%;
    padding-left: 200px;
}