<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Portale Silh</title>
    <link rel="stylesheet" href="fotografoCss.css"/>
</head>
<body>
<div>
    <h4>Fotografo</h4>
    <div>
        Nome: <span th:text="${fotografo.nome}">Andrea</span>
    </div>
    <div>
        Cognome: <span th:text="${fotografo.cognome}">Speranza</span>
    </div>

</div>
<h4>Album</h4>

<a href="/albumDefault">Album di default</a>

</body>
</html>