<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Portale Silph</title>
    <link rel="stylesheet" href="/css/utenteCss.css" />

</head>
<body>
<div>

    <form th:action="@{/utente/search}" th:object="${serch_query}" method="post" class="searchbar">
        <input th:field="*{query}" type="text" placeholder="Search...">
        <select th:field="*{type}">
            <optgroup>
                <option title="foto" value="Foto">Foto</option>
                <option title="fotografo" value="Fotografo">Fotografo</option>
                <option title="album" value="Album">Album</option>
            </optgroup>
        </select>
        <button type="submit">Cerca</button>

        <br/>
        <span class="invalid_message" th:if="${#fields.hasErrors('query')}" th:errors="*{query}"></span>
    </form>
</div>

</body>
</html>