<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div><h4>Album</h4></div>
<table th:object="${album}">
    <tr>
        <td>Nome:</td>
        <td th:text="*{nome}">nome_album</td>
    </tr>
    <tr>
        <td>Registrazione:</td>
        <td th:text="${#temporals.format(album.dataRegistrazione, 'dd-MM-yyyy')}">data_album</td>
    </tr>
    <tr>
        <td>
            <a th:href="@{'/utente/fotografieDaAlbum/'+*{id}}" th:text="Fotografie">fotografie_album</a>
        </td>
    </tr>
</table>
<h5><a href="/admin/welcome">Torna alla home</a></h5>
</body>
</html>