<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Gallery Fotografie</title>
</head>
<body>
<div class="title">
    <h1>Fotografie della Silph Spa</h1>
    <a  th:href="@{/utente/shoppingCart}">carrello immagini</a>
</div>
<div style="padding-left: 300px">
    <i>Seleziona le foto che vorresti utilizzare cliccando sul bottone a lato immagine</i>
</div>
<br />
<br />

<div th:each="fotoPath : ${files_galleria}">
    <img class="gallery_image" th:src="@{${fotoPath}}">

    <form style="float: left; padding-top: 40px; padding-left: 60px;"
          th:action="@{shoppingCart/aggiungiAlCarrelloDallaGallery}">
        <input style="display: none;" type="text" th:value="${fotoPath}" name="fotoPath">
        <button type="submit">Aggiungi immagine</button>
    </form>
</div>
</body>
</html>